<header class="fix-header container">
  <ul class="header-links">
    <li class="header-link-xl">
      <a href="{{ site.linkedin }}" target="_blank" title="Linkedin">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
    <li class="header-link-xl">
      <a href="{{ site.github }}" target="_blank" title="Github">
        <i class="fab fa-github"></i>
      </a>
    </li>
    <li class="header-link-xl">
      <a href="{{ site.instagram }}" target="_blank" title="Instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <ul class="header-links header-pages">
    <li class="header-link-sm">
      <a href="/" data-animsition-out-class="fade-out">Blog</a>
    </li>
    <li class="header-link-sm">
      <a href="/about" data-animsition-out-class="fade-out">About me</a>
    </li>
  </ul>
  <div class="mobile-menu-btn">
    <i class="fas fa-bars"></i>
  </div>
</header>

<div class="mobile-menu">
  <div class="mobile-menu-btn-close">
    <i class="fas fa-times"></i>
  </div>
  <ul class="mobile-menu-links">
    <li class="mobile-menu-link">
      <a href="/" data-animsition-out-class="fade-out">Blog</a>
    </li>
    <li class="mobile-menu-link">
      <a href="/about" data-animsition-out-class="fade-out">About me</a>
    </li>
  </ul>
</div>