* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 transparent;
  outline: none;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #777;
}

.banner {
  width: 100%;
  height: 500px;
  background: rgb(0,151,255);
  background: linear-gradient(180deg, rgba(0,151,255,1) 0%, rgba(30,102,255,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 75px;

  .banner-title {
    font-size: 4em;
    font-weight: 700;
    color: $color-white;
    text-align: center;
    font-family: 'Caveat', cursive;
  }

  .banner-description {
    font-size: 1.5em;
    font-weight: 500;
    color: $color-white;
  }

  .banner-date {
    font-size: 1em;
    font-weight: 500;
    color: $color-white;
    margin: 10px 0px;
  }

  .banner-link {
    padding: 5px 15px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: 500;
    color: $color-white;
    border: 1px solid $color-white;
    border-radius: 20px;
    text-decoration: none;

    &:hover {
      background-color: $color-white;
      color: $color-contrast;
    }
  }
}

.notfound-title {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  margin: 25px 0px;
  color: $color-black;
}

.notfound-sad {
  text-align: center;
  font-size: 4em;
  color: $color-black;
}

.notfound-desc {
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  margin: 25px 0px;
  color: $color-grey;
}

.container {
  padding: 0% 25%;
  overflow: hidden;
}