.blog {
  padding-top: 50px;
  padding-bottom: 50px;

  .blog-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .blog-item {
      width: 100%;
      padding: 10px;

      .blog-item-wrapper {
        padding: 10px 0px;

        a {
          text-decoration: none;

          header {
            color: $color-blue;
            font-size: 24px;
            font-weight: 700;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        main {
          background-color: #f9f9f9;
          border-left: 3px solid #ccc;
          padding: 5px;
          margin: 5px 0px;
        }

        footer {
          color: $color-grey;
          font-size: 16px;

          span {
            color: $color-blue;
          }
        }
      }
    }
  }
}