.post {
  padding-bottom: 50px;
  padding-top: 50px;
  position: relative;

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 15px 0px 30px 0px;
  }

  // Horizontal lines
  hr {
    margin: 15px 0px;
  }

  // Blockquote
  blockquote {
    background-color: #f9f9f9;
    border-left: 3px solid #ccc;
    padding: 5px;

    p {
      margin: 10px;
    }
  }

  // paragraphs 
  > p {
    margin: 10px 0px;
  }

  // Lists
  ul, ol {
    width: 100%;
    margin: 10px 15px;
  }

  // Codes
  code.highlighter-rouge {
    padding: 5px;
    background-color: #f9f9f9;
  }

  // Tables
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
   
  th {
    color: #D5DDE5;;
    background: #1b1e24;
    border-right: 1px solid #343a45;
    font-size: 20px;
    padding: 10px;
    vertical-align: middle;
  }
    
  tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
  }
   
  tr:first-child {
    border-top:none;
  }
  
  tr:last-child {
    border-bottom:none;
  }
   
  tr:nth-child(even) td {
    background:#EBEBEB;
  }
   
  td {
    background:#FFFFFF;
    padding: 10px;
    vertical-align: middle;
    font-size: 18px;
    border-right: 1px solid #C1C3D1;
  }
  
  td:last-child {
    border-right: 0px;
  }

  // Images
  img {
    width: 100%;
    height: auto;
    margin: 15px auto;
  }

  .prevNext {
    width: 200px;
    height: 50px;
    background-color: $color-contrast;
    text-decoration: none;
    color: $color-white;
    position: fixed;
    top: 50%;
    display: flex;
    transition: .2s;
    border: 1px solid $color-contrast;

    .prev-arrow {
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .prev-name {
      width: 150px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .next {
    right: 0;
    transform: translateX(150px);

    &:hover {
      transform: translateX(0px);
    }
  }

  .prev {
    left: 0;
    transform: translateX(-150px);

    &:hover {
      transform: translateX(0px);
    }
  }
}